.shoppage h2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gentium Basic', serif;
    font-size: 30px;
    letter-spacing: 15px;
    margin-left: 38px;
    margin-top: 20px;
}